<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibu.order.dal.mapper.OrderReceiptInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bibu.order.dal.entity.OrderReceiptInfo">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="receipt_user" property="receiptUser" />
        <result column="receipt_phone" property="receiptPhone" />
        <result column="receipt_province" property="receiptProvince" />
        <result column="receipt_city" property="receiptCity" />
        <result column="receipt_district" property="receiptDistrict" />
        <result column="receipt_detail_address" property="receiptDetailAddress" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="updater" property="updater" />
        <result column="creator" property="creator" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, receipt_user, receipt_phone, receipt_province, receipt_city, receipt_district, receipt_detail_address, create_time, update_time, updater, creator, is_delete
    </sql>

</mapper>
