<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibu.promotion.dal.mapper.CouponUseRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bibu.promotion.dal.entity.CouponUseRecord">
        <id column="id" property="id" />
        <result column="coupon_account_id" property="couponAccountId" />
        <result column="user_id" property="userId" />
        <result column="order_code" property="orderCode" />
        <result column="use_date" property="useDate" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="creator" property="creator" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_account_id, user_id, order_code, use_date, update_time, create_time, updater, creator, is_delete
    </sql>

</mapper>
